html{
    background-image: url ("../images/backgound.jpg");
}



main article img{
    width: 500px;
    height: 400px;

}

header{
    float: left;
    width: 200px;
    height: 100px;
}

h1 headdr{
    color: aliceblue;
    margin-left: 120px;
    text-shadow: 2px 4px  pink;

}